.title {
    margin-top: 50px;
    text-align: center; 
}

.culc_list {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.culc_items {
    border: 1px solid black;
    padding: 10px;
    background-color: black;
    border-radius: 15px;
    transition: transform .4s;
}

.culc_item {
    text-decoration: none!important;
    color: #fff!important;
}   

.culc_items:hover {
    transform: scale(1.1);
}


